matplotlib==2.1.1
django_heroku==0.3.1
Django==2.2.24
pandas==0.23.4
seaborn==0.9.0
pygal==2.4.0
numpy==1.14.1
scikit_learn==0.20.2
spotipy==2.4.4
gunicorn
jinja2
git+https://github.com/javadba/mpld3@display_fix
django-storages
python-decouple
